* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background: linear-gradient(to right, #ff9a3c, #ff7eb9, #3c7bff); */
    background: linear-gradient(135deg, #ff8c00 10%, #ff4da6 45%, #0055ff 90%);


}

.main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 22.875rem;
    height: 40.75rem;
    margin-top: 0;
}

.card .content p {
    display: none;
}


.content {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    padding-top: 38rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card .content:hover {
    p {
        display: contents;
    }


    .effect {
        width: 22.875rem;
        height: 40.75rem;
        background: linear-gradient(to top, #222, transparent)
    }

}

.img1 {
    background-image: url(https://i.pinimg.com/736x/44/98/e1/4498e191c37edab0c99e4b7389d716a9.jpg);

}

.img2 {
    background-image: url(https://i.pinimg.com/736x/bd/21/cf/bd21cf8ab38793d19ad4f4f349b53743.jpg);
}

.img3 {
    background-image: url(https://i.pinimg.com/736x/7f/0b/f2/7f0bf27aa3bfddcd10ea4575c8fc62da.jpg);
}

.img4 {
    background-image: url(https://i.pinimg.com/736x/25/ff/0b/25ff0b80622d8b18853646cdf0bbb286.jpg);
}

h1{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 2.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.7rem;

}