* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Use system font for most content but don't override icon webfonts */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1738549367493-552ee46605ca?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1492);
    background-position: center;
    background-size: cover;
}

.nav {
    margin-top: 15px;
    justify-content: center;
    display: flex;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.name h1 {
    font-size: 300px;
    font-weight: 300;
    padding-left: 60px;
}

.btmtxt {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 1000px;
    position: absolute;
}

.btmtxt p {
    margin-top: 5px;
    font-size: 15px;
}

.btmtxt h3 {
    padding-top: 35px;
    font-size: 20px;
}

.btmlft {
    font-size: 15px;
    margin-top: 20%;
    display: flex;
}

.look {
text-decoration:underline;
margin-left: 920px;
margin-top: 20px;
}

/* Ensure remixicon glyphs render using the remixicon font provided by the CDN */
.ri, .ri * {
    font-family: 'RemixIcon', 'remixicon', inherit;
}

.new {
font-style: italic;
font-weight: 200;
margin-left: 20px;
margin-top: 0px;
}

.img2 {
    position: absolute;
    left: 54%;
    top: 70%;
    width: 200px;
    height: auto;
}

.img1 {
    position: absolute;
    left: 65%;
    top: 40%;
    width: 200px;
    height: auto;

}

.img3 {
    position: absolute;
    left: 45%;
    top: 50%;
    width: 170px;
    height: 240px;
}
