* {
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #222;
    color: white;
}

.main{
    height: 100vh;
    width: 100vw;
}

.display{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}

.screen{
    height: 20rem;
    width: 20rem;
    background-image: url(https://easy-peasy.ai/cdn-cgi/image/quality=95,format=auto,width=800/https://media.easy-peasy.ai/27feb2bb-aeb4-4a83-9fb6-8f3f2a15885e/fc8a0890-3f6c-4a50-b3c8-cad81cf94562.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 10px solid skyblue;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 5px skyblue;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.btn{
    height: 2rem;
    width: 15rem;
    background-color: rgb(255,255,255);
    border: 4px solid lightgreen;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px 5px  lightgreen;
    color: #222;
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
}


