* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(248,249,251);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section {
    margin: 25px 100px;
}

.section-dark {
    background-color: rgb(30, 40, 58);
    height: 250px;
}

.heading {
    color: black;
    text-align: center;
    font-weight: 700;
    padding-top: 40px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-light {
    color: white;
}

.name {
    padding-top: 65px;
    letter-spacing: 4px;
    font-weight: 900;
}

.subtext {
    text-align: center;
    font-weight: 100;
    margin-top: 20px;
}

.subtext-light {
    color: white;
    font-style: italic;
}

.section-white {
    background-color: white;
    height: 250px;
}

.section-blue {
    background-color: rgb(227,241,254);
    height: 270px;
}

.content-box {
    background-color: white;
    margin: 20px 200px;
    padding: 10px 0;
}

.text-content {
    margin: 20px 10px;
}

.section-yellow {
    background-color: rgb(253, 243, 204);
    height: 400px;
}

.section-purple {
    background-color: rgb(237, 234, 253);
    height: 350px;
}

.section-green {
    background-color: rgb(227, 251, 233);
    height: 350px;
}

.section-footer {
    background-color: rgb(30, 40, 58);
    height: 75px;
}

.footer-text {
    color: white;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    padding-top: 25px;
}