* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: white;
    color: white;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #171718;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.nav h4 {
    color: white;
    font-weight: 200;
    font-size: 12px;
}

.hero {
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg);
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 100%;
    padding: 50px;
    text-align: center;
    margin-bottom: 1%;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

#btn0 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.btn0 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;

}

.btn1 {
    padding: 15px 24px;
    border-radius: 50px;
    background-color: #0171E3;
    color: white;
    font-weight: 300;
    border: none;
    font-size: 18px;
}

.btn2 {
    padding: 15px 24px;
    border-radius: 50px;
    background-color: black;
    color: #0171E3;
    font-weight: 300;
    border: 1px #0171E3 solid;
    font-size: 18px;
}

.hero2 {
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium_2x.jpg);
    background-position: 70%;
    margin-bottom: 1%;
}

#txt{
    color: black;
}

.bg{
    background-color: transparent;
}

.hero3 {
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_medium_2x.jpg);
    margin-bottom: 0%;
    
}

.mrgn{
    margin-bottom: 50px;
}

.section2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.card{
    width: 48.4%;
    height: 95vh;
    background-color: lightblue;
    margin: 1% 0%;
}

.cd1{
    background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_medium_2x.jpg);
    background-size: cover;
    background-position: center;
}

.cd2{
    background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_medium_2x.jpg);
    background-size: cover;
    background-position: center;
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

.cd3{
    background-image: url(https://www.apple.com/v/home/ch/images/promos/macbook-air/promo_macbook_air__fqowrtnxewqe_medium_2x.jpg);
    background-size: cover;
    background-position: center;
}

.cd4{
    background-image: url(https://www.apple.com/v/home/ch/images/promos/ipad-air/promo_ipad_air_avail__6i02t7nujr62_medium_2x.jpg);
    background-size: cover;
    background-position: center;
}

.cd5{
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_medium_2x.jpg);
    background-size: cover;
    background-position: center;
}

.cd6{
    background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-card/promo_apple_card__5cm7draujpey_medium_2x.jpg);
    background-size: cover;
    background-position: center;
}

.txt2{
    margin-top: 5px;
}

.hero3 h1 , h3 , .btn0{
 margin-top: 0px;
} 
