* {
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100vh;
    width: 100vw;
    background-color: #222;
    color: white;
}


.main .screen h2 {
    width: 100vw;
    height: 20vh;
    background-color: #D0D6B5;
    font-size: 125px;
    color: #2B3124;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
}

.button {
    text-align: center;
    background-color: rgb(3, 3, 3);
    color: white;
    font-size: 2rem;
    width: 9rem;
    height: 3rem;
}